@media screen and (max-width: 1200px){
    .menus{
        display: none;
    }

    .img-article{
        width: 100%;
    }
    
    .searchbar{
        display: none;
    }

    .bar-button{
        display: block;
    }

    .background-black{
        height: 950px;
        width: 100%;
    }

    .bg{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 768px){
    .background-black{
        height: 1350px;
        width: 100%;
    }

    .bg{
        margin-bottom: 50px;
    }
    
}